  
table{
  width: 100%;
  th{
    font-weight: 500;
    text-align: left;
    font-size: 11px;
  }
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  font-size: 11px;
}

div{
  padding: 0px 4px;
  font-size: 11px;
}

